*, *::before, *::after{
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
    width: 75%
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
 
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    display: flex;
    justify-content: center;
  }

  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  #currentDay {
      font-size: 2rem;
      color: black;
  }

  input[type="text"], textarea {

    background-color : transparent;
    width: 100%;
    border: none;
    outline: none;
  
  }

  #clearBtn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding: 10px;
    border-radius: 15px;

  }
 
